/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-color: #19283f;
    --secound-color: #eff7fa;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yallo-color: #ffc400;
    --main-padding: 80px;
    --main-transition: .4s;
}

body {
    font-family: 'Roboto', sans-serif, Tahoma, Geneva, Verdana;
}

/* .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
} */

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

/********************** End Style Global Rouls ***********************/

/********************** Start Style compotant ***********************/

.main-button {
    background-color: var(--red-color);
    color: var(--yallo-color);
    border: none;
    border-radius: 100px;
    transition: var(--main-transition);
    padding: 8px 25px;
}

.main-button:hover {
    background-color: #d7213c;
    color: white
}

.main-heading {
    width: fit-content;
    margin:auto;
    text-align: center;
    position: relative;
}

.main-heading::before {
    content: "";
    width: 100px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: var(--green-color);
}

.main-heading svg {
    color: var(--yallo-color)
}

.main-heading h2 {
    text-transform: capitalize;
    margin: 25px 0 10px
}

.main-heading p {
    color: rgb(0 0 0 / 50%);
    text-transform: uppercase;
    font-size: 14px;
}

/********************** End Style compotant ***********************/

/*********************************************************************
************************** Style to project **************************
*********************************************************************/

/********************** Start Style Navbar ***********************/

.navbar {
    background-color: var(--main-color);
}

.navbar .navbar-toggler {
    font-size: 24px;
    cursor: pointer;
}

.navbar .nav-link {
    padding: 15px;
    text-transform: capitalize;
    transition: var(--main-transition);
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: var(--green-color) !important;
}

.navbar .search {
    color: var(--green-color);
    margin: 0 10px;
    cursor: pointer;
}

.navbar .search:hover svg {
    color: white
}

.navbar .search::before {
    content: "|";
    font-size: 20px;
}

.navbar .search svg {
    margin-left: 5px;
    transition: var(--main-transition);
}

/********************** End Style Navbar ***********************/

/********************** Start Style landding ***********************/

body > header {
    background-color: var(--main-color);
    height: calc(100vh - 70px);
}

/********************** End Style landding ***********************/

/********************** Start Style Services ***********************/

.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.services .row section {
    counter-increment: cunt;
}

.services .row section .icon {
    position: relative;
    height: 200px;
}

.services .row section .icon::before {
    content: counter(cunt);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    font-weight: bold;
    font-size: 170px;
    color: var(--secound-color)
}

.services .row section .icon svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: var(--green-color)
}

.services .row section h3 {color: var(--yallo-color)}


/********************** End Style landding ***********************/

/********************** Start Style portfolio ***********************/

.portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secound-color);
}

.portfolio ul li {transition: var(--main-transition); cursor: pointer}

.portfolio ul li.active {
    background-color: var(--red-color);
    color: var(--yallo-color);
    border-radius: 20px;
}

.portfolio ul li:not(.active):hover {
    color: var(--red-color);
}

.portfolio .projects section .box {
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / .2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .projects section .box::before {
    content: attr(data-name);
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: calc(-100% + 10px);
    background-color: #33d1cca6;
    transition: var(--main-transition);
}

.portfolio .projects section .box:hover::before {left: 5px;}

.portfolio .projects section img {
    max-width: 100%;
}

/********************** End Style portfolio ***********************/


/********************** Start Style About me ***********************/

.about {
    padding-top: var(--main-padding);
}

.about .main-p {
    max-width: 500px;
}

.about .row p {
    font-size: 14px;
}

.about .row img {
    margin-bottom: -25px;
}

@media (min-width: 992px) {
    .about .row p {
        text-align: justify !important;
    }
}

@media (max-width: 767px) {
    .about .row img {
        margin-bottom: 0
    }
    
}

/********************** End Style About me ***********************/

/********************** Start Style team member ***********************/

.team {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secound-color);
}

.team h2 {
    font-weight: bold;
    color: var(--yallo-color);
    text-transform: capitalize;
}

.team .row .card h3 {
    font-size: 22px;
    text-transform: capitalize;
    background-color: var(--green-color);
    color: white;
    padding: 12px
}

.team .row .card p {font-size: 14px;}

/********************** End Style team member ***********************/

/********************** Start Style tech ***********************/

.tech {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

/********************** End Style tech ***********************/

/**************** Start Style start project ********************/

.start-project {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-color);
}

/******************* End Style start project *******************/

/********************** Start Style blog ***********************/

.blog {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.blog .card span {
    font-size: 14px;
}

.blog .card h3 {
    font-size: 18px;
    font-weight: bold;
}

/********************** End Style blog ***********************/

/********************** Start Style subscribe ***********************/

.subscribe {
    padding-top: calc(var(--main-padding) / 2);
    padding-bottom: calc(var(--main-padding) / 2);
    background-color: var(--yallo-color);
}

.subscribe div input[type="text"] {
    background-color: transparent;
    outline: none;
    caret-color: white;
    color: white;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}

.subscribe div input[type="text"]::placeholder {
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}

/********************** End Style subscribe ***********************/

/********************** Start Style  ***********************/
body > footer {
    padding-top: calc(var(--main-padding) / 2);
    padding-bottom: calc(var(--main-padding) / 2);
    background-color: var(--main-color);
    color: white;
    font-size: 14px;
}

body > footer .row .footer span {
    color: var(--green-color)
}

body > footer .row .footer a {
    color: var(--yallo-color);
    text-decoration: none;
    transition: var(--main-transition);
}

body > footer .row .footer a:hover {
    color: var(--green-color)
}

body > footer ul li a {
    transition: var(--main-transition);
}

body > footer ul li a:hover {
    color: white !important
}

body > footer div:last-of-type .icon svg {
    font-size: 16px;
    padding: 6px;
    background-color: var(--green-color);
    border-radius: 50%;
    transition: transform var(--main-transition);
}

body > footer div:last-of-type .icon svg:hover {
    transform: scale(1.2);
}

body > footer div:last-of-type .icon li:first-of-type svg {background-color: #1877f2}
body > footer div:last-of-type .icon li:nth-of-type(2)svg {background-color: #1da1f2}
body > footer div:last-of-type .icon li:nth-of-type(3) svg {background-color: #0077b5}
body > footer div:last-of-type .icon li:last-of-type svg {background-color: #ff0000}


/********************** End Style  ***********************/