/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yallo-color: #ffc400;
    --main-padding: 80px;
    --main-transition: .4s;
}

body {
    font-family: 'Roboto', sans-serif, Tahoma, Geneva, Verdana;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

/********************** End Style Global Rouls ***********************/

/********************** Start Style compotant ***********************/

.main-button {
    background-color: var(--red-color);
    color: var(--yallo-color);
    border: none;
    border-radius: 100px;
    transition: var(--main-transition);
    padding: 8px 25px;
}

.main-button:hover {
    background-color: #d7213c;
    color: white
}

/********************** End Style compotant ***********************/

/********************** Start Style Navbar ***********************/

.navbar {
    background-color: var(--main-color);
}

.navbar .navbar-toggler {
    font-size: 24px;
    cursor: pointer;
}

.navbar .nav-link {
    padding: 15px;
    text-transform: capitalize;
    transition: var(--main-transition);
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: var(--green-color) !important;
}

.navbar .search {
    color: var(--green-color);
    margin: 0 10px;
    cursor: pointer;
}

.navbar .search:hover svg {
    color: white
}

.navbar .search::before {
    content: "|";
    font-size: 20px;
}

.navbar .search svg {
    margin-left: 5px;
    transition: var(--main-transition);
}

/********************** End Style Navbar ***********************/

/********************** Start Style landding ***********************/

body > header {
    background-color: var(--main-color);
    height: calc(100vh - 70px);
}

/********************** End Style landding ***********************/




/*********************************************************************
************************** Style to project **************************
*********************************************************************/